body {
    font-family: sans-serif;
    font-size: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

th {
    text-align: left;
}

input {
    font-size: 16px;
}