<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Item</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
    <form action="/">
        <input type="submit" value="Home" />
    </form>
    <h2> Create Item </h2>
    <form action="#" th:action="@{/items/perform-create}" th:object="${item}" method="post">
        <p>Item name: <input required type="text" th:field="*{name}" /></p>
        <p>Quantity: <input required type="number" th:field="*{quantity}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>