<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Shipment Info</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<h2> Shipment Info:</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Customer name</th>
        <th>Address Line 1</th>
        <th>Address Line 2</th>
        <th>City</th>
        <th>County</th>
        <th>Postcode</th>
    </tr>
    <tr>
        <td th:text="${shipment.id}"></td>
        <td th:text="${shipment.date}"></td>
        <td th:text="${shipment.customerName}"></td>
        <td th:text="${shipment.addressLineOne}"></td>
        <td th:text="${shipment.addressLineTwo}"></td>
        <td th:text="${shipment.city}"></td>
        <td th:text="${shipment.county}"></td>
        <td th:text="${shipment.postcode}"></td>
    </tr>
</table>

<h2> Shipment Items:</h2>
<table>
    <tr>
        <th>Item ID</th>
        <th>Name</th>
        <th>Quantity</th>
    </tr>
    <tr th:each="item: ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.quantity}"></td>
    </tr>
</table>
</body>
</html>