<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Shipments</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
    <form action="/">
        <input type="submit" value="Home" />
    </form>
    <h2> Shipments </h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Customer name</th>
            <th>Date</th>
            <th>Address line 1</th>
            <th>Address line 2</th>
            <th>City</th>
            <th>County</th>
            <th>Postcode</th>
        </tr>
        <tr th:each="shipment: ${shipments}">
            <td th:text="${shipment.id}"></td>
            <td th:text="${shipment.customerName}"></td>
            <td th:text="${#strings.arraySplit(shipment.date, ' ')[0]}"></td>
            <td th:text="${shipment.addressLineOne}"></td>
            <td th:text="${shipment.addressLineTwo}"></td>
            <td th:text="${shipment.city}"></td>
            <td th:text="${shipment.county}"></td>
            <td th:text="${shipment.postcode}"></td>
        </tr>
    </table>
</body>
</html>